<h2>Império do Mal</h2>
<br>
<p align='justify'>
Olá <%= usuario.nome %>,
<br><br>
Foi solicitado através do site Império do Mal a senha do seu usuário. Uma nova senha foi criada
para o seu usuário. Para efetuar login no site agora é necessário utilizar os dados:
<br><b>Usuário</b> <%= usuario.nome %>
<br><b>Senha</b> <%= nova_senha %>
<p>
Atenciosamente,
<p>
Equipe Império do Mal.
