<h2>Sobre o jogo</h2>

Emperor e um Game On-line onde o objetivo e administrar um Imperio e se tornar o Imperador supremo, ou seja ter seu Imperio entre os mais poderosos e ricos do mundo.

Para que isso ocorra e preciso que voce administre muito bem o seu imperio construindo estruturas, comprando e vendendo recursos, treinando exercitos, etc... O jogo se desenvolve em tempo real e voce podera jogar com pessoas do mundo todo. Consulte o Guia do Jogo para saber mais e crie agora mesmo o seu Imperio.

<%= link_to 'REGISTRAR', url(:usuarios, :novo) %>
